# Created by https://www.gitignore.io/api/keil
# Edit at https://www.gitignore.io/?templates=keil
# Custom edit by: Kristoffer Dominic Amora

### Keil ###
# MX Ptoject
*.mxproject

# --- STMCubeMX ---
#*.ioc

### --- MDK ARM build output files --- ###
# Prerequisites
MDK-ARM/stm32l0x3-spi-driver-keil/*.d
MDK-ARM/stm32l0x3-spi-driver-keil/*.dep
MDK-ARM/stm32l0x3-spi-driver-keil/*.crf

# --- Object files ---
MDK-ARM/stm32l0x3-spi-driver-keil/*.o
MDK-ARM/stm32l0x3-spi-driver-keil/*.obj
MDK-ARM/stm32l0x3-spi-driver-keil/*.OBJ

# --- Listing and DBG Files ---
#MDK-ARM/stm32l0x3-spi-driver-keil/*.COD
#MDK-ARM/stm32l0x3-spi-driver-keil/*.cod
#MDK-ARM/stm32l0x3-spi-driver-keil/*.[Ii]
MDK-ARM/*.scvd
MDK-ARM/*.LST
MDK-ARM/*.lst
MDK-ARM/stm32l0x3-spi-driver-keil/*.iex
MDK-ARM/stm32l0x3-spi-driver-keil/*.MAP
MDK-ARM/stm32l0x3-spi-driver-keil/*.map
#MDK-ARM/stm32l0x3-spi-driver-keil/*.[Mm]51
#MDK-ARM/stm32l0x3-spi-driver-keil/*.[Mm]66
#MDK-ARM/stm32l0x3-spi-driver-keil/*.SCR
#MDK-ARM/stm32l0x3-spi-driver-keil/*.scr
MDK-ARM/stm32l0x3-spi-driver-keil/*.sct

# --- LINK output ---
MDK-ARM/*.ABS

# --- Libraries ---
#MDK-ARM/*.lib
#MDK-ARM/*.LIB

# --- uVision Output ---
MDK-ARM/stm32l0x3-spi-driver-keil/*.lnp
MDK-ARM/stm32l0x3-spi-driver-keil/*.build_log.htm
MDK-ARM/stm32l0x3-spi-driver-keil/*.htm
MDK-ARM/stm32l0x3-spi-driver-keil/*.HEX
MDK-ARM/stm32l0x3-spi-driver-keil/*.hex
MDK-ARM/stm32l0x3-spi-driver-keil/*.axf

# --- Build Files ---
#MDK-ARM/*._IA
#MDK-ARM/*.__[Ii]
#MDK-ARM/*._[Ii][Ii]

# --- uVision Project ---
MDK-ARM/*.uvgui.*
MDK-ARM/*.uvguix.*
#MDK-ARM/*.uvoptx
#MDK-ARM/*.uvprojx

# End of https://www.gitignore.io/api/keil